{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Introduction -->
    <div id="intro" class="basic-1 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>We help Kids,Student,Teacher</h1>
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                        <p><strong>Explore with us</strong> Full of fun facts and trivia, colourful 3D-digital images, and games that will feed their brains and help them shape their ideas about the world around them</p>
                        <p><strong>Learn with us</strong> is the fastest way to understand the world around them</p>
                        <p><strong>Gain More Knowledge</strong>A world of knowledge is packed into a one-stop-site reference india-pedia for your child</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of introduction -->




    <!-- Services -->
    <div id="services" class="cards-1 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Latest in world</h2>
                    <p class="p-heading">World news latest updates today. Get updates on Live international news and world events from around the globe</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card first">
                        <img class="card-img-top" src="{% static 'images/news1.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">HEALTH & MEDICINE</h4>
                            <div class="card-text">In 2021, COVID-19 vaccines were put to the test. Here’s what we learned
Vaccines can’t single-handedly end the pandemic, but they are still essential in the fight against the coronavirus.</div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card second">
                        <img class="card-img-top" src="{% static 'images/news2.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">SCIENCE NEWS</h4>
                            <div class="card-text">NASA's Webb telescope launches to see first galaxies, distant worlds<br>NASA's James Webb Space Telescope launched Dec. 25 from Europe's Spaceport in French Guiana, South America. The Webb observatory's mission is to seek the light from the first galaxies in the early universe and to explore our own solar system, as well as planets orbiting other stars, called exoplanets</div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card third">
                        <img class="card-img-top" src="{% static 'images/news3.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Tranding-Tech</h4>
                            <div class="card-text">Alexa told a child to do potentially lethal ‘challenge’ <br>Amazon’s Alexa told a child to touch a penny to the exposed prongs of a phone charger plugged into the wall, according to one parent who posted screenshots of their Alexa activity history showing the interaction (via Bleeping Computer). The device seemingly pulled the idea for the challenge from an article describing it as dangerous, citing news reports about an alleged challenge trending on TikTok.</div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card first">
                        <img class="card-img-top" src="{% static 'images/news5.jpg' %}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Sports</h4>
                            <div class="card-text">SA v IND live: Elgar, van der Dussen resist India charge
Well, it's time for the last 75 minutes of play in Centurion on Day 4. India pacers are keeping it tight but captain Dean Elgar and Rassie van der Dussen have put up a stiff fight. They have added only 26 runs but they have batted out 12 overs together.

Can India pick up a wicket? Still no sign of R Ashwin in the attack. Will Virat Kohli bring on his premier off-spinner into the attack?</div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card second">
                        <img class="card-img-top" src="{% static 'images/news6.jpg' %}" alt="Card image cap">

                        <div class="card-body">
                            <h4 class="card-title">Farming</h4>
                            <div class="card-text">In today's time, when people are leaving the villages and moving towards the cities only to adopt a fast, unbalanced life to earn money; there are some people who are leaving their high paying jobs in the city and adopting agriculture as their means of livelihood & are earning good profits by doing farming in new ways.</div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card third">
                        <img class="card-img-top" src="{% static 'images/news7.jpg' %}" alt="Card image cap">

                        <div class="card-body">
                            <h4 class="card-title">Business</h4>
                            <div class="card-text">Bitcoin has tanked over 8 per cent in the last two days, breaching $50,000 levels, and has been trading below the key psychological levels ahead of the new year.

Investors have retreated from the most speculative corners of global markets of late, worried central banks’ rolling back stimulus could spell trouble.

Read more at:
https://economictimes.indiatimes.com/markets/cryptocurrency/bitcoin-slips-below-50000-again-should-you-buy-the-dips/articleshow/88566302.cms?utm_source=contentofinterest&utm_medium=text&utm_campaign=cppst</div>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of services -->


    <!-- About -->


    <!-- Testimonials -->
    <div class="slider-1">
        <img class="quotes-decoration" src="{% static 'images/quotes.svg' %}" alt="alternative">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">
                                
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <img class="testimonial-image" src="{% static 'images/testimonial-1.jpg' %}" alt="alternative">
                                    <p class="testimonial-text" style="color:white">“Nelson Rolihlahla Mandela was a South African anti-apartheid revolutionary, political leader and philanthropist who served as the first president of South Africa from 1994 to 1999. He was the country's first black head of state and the first elected in a fully representative democratic election."</p>
                                    <div class="testimonial-author" style="color:white">Nelson Mandela</div>
                                    <div class="testimonial-position" style="color:white">Former President of South Africa</div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <img class="testimonial-image" src="{% static 'images/testimonial-2.jpg' %}" alt="alternative">
                                    <p class="testimonial-text" style="color:white">“Mohandas Karamchand Gandhi was an Indian lawyer, anti-colonial nationalist and political ethicist who employed nonviolent resistance to lead the successful campaign for India's independence from British rule, and to later inspire movements for civil rights and freedom across the world”</p>
                                    <div class="testimonial-author" style="color:white">Mohandas Karamchand Gandhi</div>
                                    <div class="testimonial-position" style="color:white">Mahatma Gandhi</div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <img class="testimonial-image" src="{% static 'images/testimonial-3.jpg' %}" alt="alternative">
                                    <p class="testimonial-text" style="color:white" >“Abraham Lincoln (/ˈlɪŋkən/; February 12, 1809 – April 15, 1865) was an American lawyer and statesman who served as the 16th president of the United States from 1861 until his assassination in 1865. Lincoln led the nation through the American Civil War and succeeded in preserving the Union, abolishing slavery, bolstering the federal government, and modernizing the U.S. economy.”</p>
                                    <div class="testimonial-author" style="color:white">Abraham Lincoln</div>
                                    <div class="testimonial-position" style="color:white">16th U.S. President</div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->
        
                            </div> <!-- end of swiper-wrapper -->
        
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->
        
                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
    <!-- end of testimonials -->


    <!-- Team -->
    <div class="cards-2 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Top Trending</h2>
                    <p class="p-heading">Find Most Trending topics, News Articles, videos, and viral Stories. Articles, Photos, Videos, most frequently read by</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'images/team-member-1.jpg' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Google Year in Search 2021</h5>
                            <p class="card-text">This is what the world Googled the most for during the year</p>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'images/team-member-2.jpg' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Miss Universe 2021</h5>
                            <p class="card-text">After bringing home the prestigious Miss Universe 2021 trophy after 21 years, Harnaaz Sandhu has been on cloud nine.</p>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'images/team-member-3.jpg' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Covid "Tsunami"</h5>
                            <p class="card-text">Will Drive Health Systems Towards Collapse: WHO</p>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'images/team-member-4.jpg' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Elon Musk </h5>
                            <p class="card-text"> is working to revolutionize transportation both on Earth, through electric car maker Tesla -- and in space, via rocket producer SpaceX. Riches person NET WORTH
$151 B</p>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <!-- end of card -->
    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of team -->


    <!-- Contact -->
    <div id="contact" class="form-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Join us to Explore More</h2>
                    <p class="p-heading">its free,Create new account to explore more</p>
                    <ul class="list-unstyled li-space-lg">
                        <li><i class="fas fa-map-marker-alt"></i>RamaaSoft 9b sector,Indrapuri,bhopal  </li>
                        <li><i class="fas fa-phone"></i> &nbsp;<a href="tel:7970018100">7970018100</a></li>
                        <li><i class="fas fa-envelope"></i> &nbsp;<a href="mailto:mailramaasoft@gmail.com">mailramaasoft@gmail.com</a></li>
                    </ul>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    
                    <!-- Contact Form -->
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control-input" placeholder="Enter Name" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" placeholder="Enter Email" required>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control-input" placeholder="Enter Password" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Submit</button>
                        </div>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of contact -->
{% endblock %}
